
<app-header
  (searchTextChanged)="onSearchTextEntered($event)"
  [getUserName]="boardService.getUser()"
  
></app-header>

<app-nav *ngIf="nav"
(view)="onView($event)"
></app-nav>

<div class="container-fluid" >
  <div class="show" (click)="showNav()">
    <app-show-q *ngIf="viewQ"
    ></app-show-q>
  </div>
  <div cdkDropListGroup class="row">
    <div
      class="col-sm-6 col-lg-3 mb-3"
      *ngFor="let column of boardService.getBoard$() | async"

    >
    
      <!-- Column Title -->
      <div
      [ngStyle]="{background: column.color}"
      class="d-flex  align-items-center p-1 gap-2 ps-3 shadow-sm column-header "
      >
        <img src={{column.img}} alt="icon" >
        <h3 class="m-0 colTitle">{{ column.title }}</h3>
       
      </div>

      <div
        cdkDropList
        [cdkDropListData]="column.list"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          cdkDrag
          class="example-box mt-3 pt-3"
          [ngStyle]="{ background: column.color }"
          *ngFor="let item of column.list"
        >
        <div *ngIf="searchText === '' || item.text.toLowerCase().includes(searchText.toLowerCase())">
          <app-board-item
            [item]="item"
            (emitDeleteCard)="onDeleteCard($event, column.id)"
            (emitChangeTitle)="onChangeTitle($event,column.id)"
            (emitChangeDate)="onChangeDate($event,column.id)"
            (emitChangeEst)="onChangeEst($event,column.id)"
            (emitChangeComp)="onChangeComp($event,column.id)"
            (emitChangeImp)="onChangeImp($event,column.id)"
            ></app-board-item>
          </div>
        </div>
      </div>
    </div>
  </div>


                          <!--  Test -->

  <div class="mt-5">
    <h1> ToDo</h1>
  <table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Text</th>
      <th>Company</th>
      <th>Date</th>
      <th>Estimate</th>
      <th>Importance</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of todoList$|async">
        <td>{{item.id}}</td>
        <td>{{item.text}}</td>
        <td>{{item.company}}</td>
        <td>{{item.date}}</td>
        <td>{{item.estimate}}</td>
        <td>{{item.importance}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="mt-5">
  <h1> Doing</h1>
<table class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Text</th>
    <th>Company</th>
    <th>Date</th>
    <th>Estimate</th>
    <th>Importance</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of doingList$|async">
      <td>{{item.id}}</td>
      <td>{{item.text}}</td>
      <td>{{item.company}}</td>
      <td>{{item.date}}</td>
      <td>{{item.estimate}}</td>
      <td>{{item.importance}}</td>
    </tr>
  </tbody>
</table>
</div>

<div class="mt-5">
  <h1> Done</h1>
<table class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Text</th>
    <th>Company</th>
    <th>Date</th>
    <th>Estimate</th>
    <th>Importance</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of doneList$|async" >
      <td >{{item.id}}</td>
      <td  class="d-block">
      <div *ngIf="!titleB" (dbclick)="onOpenTitle()">
        {{item.text}}
      </div>
      <div *ngIf="titleB">
        <input
            (keyup.enter)="changeTitleApi(item)"
            [(ngModel)]="titleInput"
          />
      </div>
      </td>
      <td>{{item.company}}</td>
      <td>{{item.date}}</td>
      <td>{{item.estimate}}</td>
      <td>{{item.importance}}</td>
    </tr>
  </tbody>
</table>
</div>

</div>
