<div class="login">
  <div class="part1">
    <div class="part1-1">
        <img src="assets/Logo@2x.png" alt="">
    </div>
    <div class="part1-2">
        <div class="part1-2-1">
            <img src="assets/Woman.png" alt="">
        </div>
        <div class="part1-2-2">
            <img src="assets/Man.png" alt="">
        </div>
    </div>
  </div>

  <div class="part2">
    <div class="disp">
        <div id="emailHelp" class="form-text">Time to Work!</div>

        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="password">
            </div>
            <button type="button" (click)="login()" class="btn">Submit</button>
          </form>
    </div>
  </div>
</div>

