<div class="d-grid">
<div class="ps-2 pe-3 pb-2 title">
    <div *ngIf="!titleB" class="d-inline">
      <div class="mt-1 cursore w-350 fontTitle" (dblclick)="onOpenTitle()">
        {{ item.text }}
      </div>
    </div>

    <div *ngIf="titleB">
      <div class="mt-1 ">
        <mat-form-field class="w-350 border-0">
          <mat-label  class="fontTitle mb-2">{{ item.text }}</mat-label>
          <input
            matInput
            (keyup.enter)="onCardTitleEmit(item)"
            [(ngModel)]="titleInput"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

<div class="d-flex ps-2 pe-2">
    
  <div class="d-grid justify-content-between align-items-start ">
        <strong class="d-inline  fontSub">Company:</strong>
        <strong class="d-inline mt-1 fontSub">Due Date:</strong>
        <strong class="d-inline mt-2 fontSub">Estimate: </strong>
        <strong class="d-inline mt-2 fontSub">Importance: </strong>
    </div>
  
  <div class="d-grid ms-4 margin justify-content-between align-items-start gap-2">
      <div *ngIf="!compB" class="d-inline">
      <div
        class=" d-inline cursore justify-content-between fontRes"
        (dblclick)="onOpenComp()"
      >
        {{ item.company }}
      </div>

    </div>

    <div *ngIf="compB" class="d-inline">
      <div class="d-inline">
        <mat-form-field class="w-100 border-0 d-inline">
          <mat-label cursore class="fontRes">{{ item.company }}</mat-label>
          <input
            matInput
            (keyup.enter)="onCardCompEmit(item)"
            [(ngModel)]="compInput"
          />
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="!dateB" class="d-inline">
        <div *ngIf="item.date != 'none'" (dblclick)="onOpenDate()" class="d-inline mt-1 cursore fontRes">
          {{ item.date | date: "dd/MM/yyyy" }}
        </div>
        <div *ngIf="item.date == 'none'" (dblclick)="onOpenDate()" class="d-inline mt-1 cursore fontRes">
          None
        </div>
    </div>

    <div *ngIf="dateB">
      <mat-form-field  class="w-40 border-0 d-inline cursore">
        <mat-label *ngIf="item.date != 'none'" class="fontRes">{{item.date | date: "dd/MM/yyyy"}}</mat-label>
        <mat-label *ngIf="item.date == 'none'" class="fontRes"> None </mat-label> 
              <input matInput [matDatepicker]="picker" [(ngModel)]="DateInput" (keyup.enter)="onCardDateEmit(item)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>   
    </div>

    <div *ngIf="!estB" class="d-inline">
      <div class=" d-inline cursore fontRes" (dblclick)="onOpenEst()">
        {{ item.estimate }}
      </div>

    </div>

    <div *ngIf="estB">
      <div class="d-inline">
        <mat-form-field class="w-100 border-0 cursore">
          <mat-label class="fontRes">{{ item.estimate }}</mat-label>
          <input
            matInput
            (keyup.enter)="onCardEstEmit(item)"
            [(ngModel)]="EstInput"
            class="inputChange"
          />
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="!impB" class="d-inline">

      <div class="d-inline cursore border-1 p-2 rounded fontRes" (dblclick)="onOpenImp()" 
      [ngStyle]="{background: item.colorImp}" >
        {{item.importance}} 
      </div>

    </div>

    <div *ngIf="impB" class="w-100 d-flex  ">
      <div class="d-inline ">
        <div class="d-inline me-2">
          <input
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="LOW"
            [(ngModel)]="impInput"
            (keyup.enter)="onCardImpEmit(item)"
          />
          <label class="d-inline fontInp" for="inlineRadio1">LOW</label>
        </div>
        <div class=" d-inline me-2">
          <input
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="MEDUIM"
            
            [(ngModel)]="impInput"
            (keyup.enter)="onCardImpEmit(item)"
          />
          <label class="d-inline fontInp" for="inlineRadio2">MEDUIM</label>
        </div>
        <div class=" d-inline me-2">
          <input
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio3"
            value="HIGH"
            
            [(ngModel)]="impInput"
            (keyup.enter)="onCardImpEmit(item)"

          />
          <label class="d-inline fontInp" for="inlineRadio3">HIGH</label>
        </div>
        <div class=" d-inline me-2">
          <input
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio4"
            value="none"
            [(ngModel)]="impInput"
            (keyup.enter)="onCardImpEmit(item)"
            
          />
          <label class="d-inline fontInp" for="inlineRadio4">none</label>
        </div>
      </div>
    </div>
  </div>

 
  </div>



  <ng-content></ng-content>
</div>
